<form class="deleteProductForm">
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="/<%= product.image %> "
          class="img-fluid rounded-start"
          alt="<%= product.name %>"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %> <%= product.lastname %></h5>
          <ul class="list-group list-group-horizontal">
            <div class="row">
              <li class="list-group-item">ID: <%= product._id %></li>
              <li class="list-group-item">Precio: $<%= product.price %></li>
              <li class="list-group-item">onSale: <%= product.onSale %></li>
            </div>
          </ul>

          <input type="hidden" name="_id" value="<%= product._id %> " />
          <button type="submit" class="btn btn-primary m-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
